# MongoDB Connection
MONGODB_URI=mongodb+srv://adegboyega00001_db_user:4qDyaG7HWJBjuKYD@cluster0.czhnhku.mongodb.net/?appName=Cluster0

# JWT Secret (use a long random string in production)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Server Port
PORT=5000

# Admin Setup (used only for initial seed - remove after first run)
ADMIN_EMAIL=admin@testimonyparish.org
ADMIN_PASSWORD=ChangeThisPassword123!

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
# 4qDyaG7HWJBjuKYD

CLOUDINARY_CLOUD_NAME=testimony_parish
CLOUDINARY_API_KEY=931316981159123
CLOUDINARY_API_SECRET=C0GU8SH73dHp579whVCXGPlZR7A